body {
  width: 100%;
  zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:after {
  content: "";
  display: table;
  clear: both;
}
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
.center-text {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.center-no-float {
  float: none;
  text-align: center;
}
.no-center-float {
  float: left;
  text-align: initial;
}
.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.invisible {
  display: none;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.absolute-one-hundred-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.list-style-none {
  list-style-type: none;
}
.overflow-fix {
  overflow: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
.basic-transition {
  transition: all 0.2s ease-in-out;
}
.dark-overlay {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none repeat 0 0 rgba(30, 30, 30, 0.5);
}
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #888888;
}
p {
  margin: 0 0 15px;
  line-height: 24px;
}
h2 {
  font-size: 24px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
  color: #434343;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  color: #434343;
  font-weight: 400;
}
.our-services .single.col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 1024px) {
  .our-services .single.col {
    display: inline;
    float: left;
    width: 22.36842105%;
    margin: 0 1.31578947%;
  }
}
