@import 'grid.less';
@import 'helpers.less';
@import 'colors.less';
@import 'helpers.less';
@import 'typography.less';

@phone: ~"only screen and (min-width: 768px)";
@tablet: ~"only screen and (min-width: 1024px)";
@desktop: ~"only screen and (min-width: 1280px)";

// Grid Column
@columns: 12;
@column-width:65;
@gutter-width: 30;
@total-width: 100%;

.our-services .single-col {
	.column(12);
	@media @tablet {
		.column(3);
	}
}

.features .single-col {
	.column(12);
	@media @phone {
		.column(6);
	}
	@media @tablet {
		.column(4);
	}
}

.statistics .single-col {
	.column(12);
	@media @phone {
		.column(6);
	}
	@media @tablet {
		.column(3);
	}
}

.our-team .single-col {
	.column(12);
	@media @tablet {
		.column(4);
	}
}

.footer-main .single-col {
	.column(12);
	@media @phone {
		.column(6);
	}
	@media @tablet {
		.column(3);
	}
}

// Container Styles
.container {
	max-width: 1280px;
	margin: 0 auto;
	clear: both;
	padding: 0 15px;
}

// Elements
img {
	max-width: 100%;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.section-title {
	margin-bottom: 40px;
	.center-text;
}

// Buttons
.basic-button(@color;@background-color) {
	color: @color;
	background-color: @background-color;
	text-decoration: none;
	.inline-block;
	font-size: @basic-font-size;
	font-weight: 400;
	line-height: @basic-line-height;
	text-transform: uppercase;
}

// Header
header {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: @basic-background;
	border-bottom: 1px solid @basic-border-color;
	box-shadow: 0 0 1px @basic-border-color;
	.nav-bar {
		height: 63px;
		.nav-logo {
			.float-left;
			.center-vertical;
			z-index: 2;
		}
	}	
}

// Hiding Main Menu for Phones
#main-menu {
	.invisible;
	@media @tablet {
		.block;
	}
}

.main-menu-content {
	.float-right;
	.center-vertical;
	ul {
		.list-style-none;
		li {
			.float-left;
			.block;
			a {
				color: @menu-link-color;
				font-size: 16px;
				font-family: @font-family-secondary;
				font-weight: bold;
				padding: 20px 14px;
				line-height: 20px;
				.basic-transition;
				&:hover {
					color: @accent-color;
				}
				@media @tablet {
					padding: 20px 22px;
				}
			}
			i {
				font-size: 24px;
			}
		}
	}
}

// Mobile Menu
.slicknav_menu {
	position: fixed;
	left: 0;
	right: 0;
	@media @tablet {
		.invisible;
	}
}