body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:after {
  content: "";
  display: table;
  clear: both;
}
.center-text {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.center-no-float {
  float: none;
  text-align: center;
}
.no-center-float {
  float: left;
  text-align: initial;
}
.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.invisible {
  display: none;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.absolute-one-hundred-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.list-style-none {
  list-style-type: none;
}
.overflow-fix {
  overflow: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
.basic-transition {
  transition: all 0.2s ease-in-out;
}
.dark-overlay {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none repeat 0 0 rgba(30, 30, 30, 0.5);
}
body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #888;
}
p {
  margin: 0 0 15px;
  line-height: 24px;
}
h2 {
  font-size: 28px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 12px;
  color: #434343;
  font-weight: 400;
}
h3 {
  font-size: 18px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  color: #434343;
  font-weight: 400;
}
h1,
h2,
h3 {
  line-height: 1.1;
}
.our-services .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 768px) {
  .our-services .single-col {
    display: inline;
    float: left;
    width: 47.36842105%;
    margin: 0 1.31578947%;
  }
}
@media only screen and (min-width: 1024px) {
  .our-services .single-col {
    display: inline;
    float: left;
    width: 22.36842105%;
    margin: 0 1.31578947%;
  }
}
.features .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 768px) {
  .features .single-col {
    display: inline;
    float: left;
    width: 47.36842105%;
    margin: 0 1.31578947%;
  }
}
@media only screen and (min-width: 1024px) {
  .features .single-col {
    display: inline;
    float: left;
    width: 30.70175439%;
    margin: 0 1.31578947%;
  }
}
.statistics .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 768px) {
  .statistics .single-col {
    display: inline;
    float: left;
    width: 47.36842105%;
    margin: 0 1.31578947%;
  }
}
@media only screen and (min-width: 1024px) {
  .statistics .single-col {
    display: inline;
    float: left;
    width: 22.36842105%;
    margin: 0 1.31578947%;
  }
}
.our-team .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 1024px) {
  .our-team .single-col {
    display: inline;
    float: left;
    width: 30.70175439%;
    margin: 0 1.31578947%;
  }
}
.footer-main .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 768px) {
  .footer-main .single-col {
    display: inline;
    float: left;
    width: 47.36842105%;
    margin: 0 1.31578947%;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-main .single-col {
    display: inline;
    float: left;
    width: 22.36842105%;
    margin: 0 1.31578947%;
  }
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  clear: both;
  padding: 0 15px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.section-title {
  margin-bottom: 40px;
  text-align: center;
}
.services {
  padding-top: 70px;
}
.portfolio {
  padding-top: 70px;
}
.content-offer {
  padding-top: 70px;
}
.our-team {
  padding-top: 70px;
}
.features {
  padding-top: 70px;
}
header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  border-bottom: 1px solid #DDD;
  box-shadow: 0 0 1px #DDD;
}
header .nav-bar {
  height: 63px;
}
header .nav-bar .nav-logo {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
#main-menu {
  display: none;
}
@media only screen and (min-width: 1024px) {
  #main-menu {
    display: block;
  }
}
.main-menu-content {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.main-menu-content ul {
  list-style-type: none;
}
.main-menu-content ul li {
  float: left;
  display: block;
}
.main-menu-content ul li a {
  color: #3A3C43;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  padding: 20px 14px;
  line-height: 20px;
  transition: all 0.2s ease-in-out;
}
.main-menu-content ul li a:hover {
  color: #45B6AF;
}
@media only screen and (min-width: 1024px) {
  .main-menu-content ul li a {
    padding: 20px 22px;
  }
}
.main-menu-content ul li i {
  font-size: 24px;
}
.slicknav_menu {
  position: fixed;
  left: 0;
  right: 0;
}
@media only screen and (min-width: 1024px) {
  .slicknav_menu {
    display: none;
  }
}
.slicknav_menu i {
  display: none;
}
.slicknav_menu ul {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDD;
  box-shadow: 0 0 1px #DDD;
}
.bxslider .main-slide-1 {
  height: 92vh;
  background-image: url('../assets/images/slider_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.bxslider .main-slide-1:after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none repeat 0 0 rgba(30, 30, 30, 0.5);
}
.bxslider .main-slide-2 {
  height: 92vh;
  background-image: url('../assets/images/slider_2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.bxslider .main-slide-2:after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none repeat 0 0 rgba(30, 30, 30, 0.5);
}
.bxslider .main-slide-3 {
  height: 92vh;
  background-image: url('../assets/images/slider_3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.bxslider .main-slide-3:after {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none repeat 0 0 rgba(30, 30, 30, 0.5);
}
.bx-viewport img {
  display: none;
}
@media only screen and (min-width: 1024px) {
  .bx-viewport img {
    display: block;
    position: absolute;
    right: 5%;
    top: 30%;
  }
}
.main-slider-content {
  padding: 25% 5%;
  color: #FFF;
  position: relative;
  z-index: 1;
}
.main-slider-content h1 {
  font-size: 26px;
  line-height: 33px;
  font-weight: bold;
}
@media only screen and (min-width: 1024px) {
  .main-slider-content h1 {
    font-size: 48px;
    line-height: 60px;
  }
}
.main-slider-content p {
  font-size: 12px;
  line-height: 24px;
}
@media only screen and (min-width: 1024px) {
  .main-slider-content p {
    font-size: 18px;
  }
}
.main-slider-content a {
  position: relative;
  color: #FFF;
  background-color: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin: 8px 0;
  padding: 12px 30px;
  border: 1px solid #FFF;
  border-radius: 5px;
}
.partners {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}
.partners img {
  max-height: 7vh;
  max-width: 100%;
}
.our-services {
  padding: 80px 0 60px;
  overflow: auto;
}
.our-services .single-col {
  margin-bottom: 30px;
  text-align: center;
}
.our-services .single-col span {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #EEE;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-bottom: 30px;
  transition: all 0.2s ease-in-out;
}
.our-services .single-col span:hover {
  background: #45B6AF;
}
.our-services .single-col span:hover > i {
  color: #FFF;
  cursor: default;
}
.our-services .single-col span i {
  color: #45B6AF;
  font-size: 30px;
  line-height: 90px;
}
@media only screen and (min-width: 1024px) {
  .our-services .single-col {
    margin-bottom: 0;
  }
}
