body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:after {
  content: "";
  display: table;
  clear: both;
}
.center-text {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.center-no-float {
  float: none;
  text-align: center;
}
.no-center-float {
  float: left;
  text-align: initial;
}
.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.invisible {
  display: none;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.absolute-one-hundred-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.list-style-none {
  list-style-type: none;
}
.overflow-fix {
  overflow: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
.basic-transition {
  transition: all 0.2s ease-in-out;
}
.dark-overlay {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none repeat 0 0 rgba(30, 30, 30, 0.5);
}
.our-services .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 1024px) {
  .our-services .single-col {
    display: inline;
    float: left;
    width: 22.36842105%;
    margin: 0 1.31578947%;
  }
}
.features .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 768px) {
  .features .single-col {
    display: inline;
    float: left;
    width: 47.36842105%;
    margin: 0 1.31578947%;
  }
}
@media only screen and (min-width: 1024px) {
  .features .single-col {
    display: inline;
    float: left;
    width: 30.70175439%;
    margin: 0 1.31578947%;
  }
}
.statistics .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 768px) {
  .statistics .single-col {
    display: inline;
    float: left;
    width: 47.36842105%;
    margin: 0 1.31578947%;
  }
}
@media only screen and (min-width: 1024px) {
  .statistics .single-col {
    display: inline;
    float: left;
    width: 22.36842105%;
    margin: 0 1.31578947%;
  }
}
.our-team .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 1024px) {
  .our-team .single-col {
    display: inline;
    float: left;
    width: 30.70175439%;
    margin: 0 1.31578947%;
  }
}
.footer-main .single-col {
  display: inline;
  float: left;
  width: 97.36842105%;
  margin: 0 1.31578947%;
}
@media only screen and (min-width: 768px) {
  .footer-main .single-col {
    display: inline;
    float: left;
    width: 47.36842105%;
    margin: 0 1.31578947%;
  }
}
@media only screen and (min-width: 1024px) {
  .footer-main .single-col {
    display: inline;
    float: left;
    width: 22.36842105%;
    margin: 0 1.31578947%;
  }
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  clear: both;
  padding: 0 15px;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.section-title {
  margin-bottom: 40px;
  text-align: center;
}
header {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFF;
  border-bottom: 1px solid #DDD;
  box-shadow: 0 0 1px #DDD;
}
header .nav-bar {
  height: 63px;
}
header .nav-bar .nav-logo {
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
